<div class="container">
<div class="col-md-3 col-sm-12"  style="margin-top: 75px;margin-bottom: 30px;padding-bottom:20px; box-shadow: 1px 1px 21px;background: rgba(174, 171, 175, 0.19);">
	<div style="padding-top: 20px">
		<img src="ajax_spa_portfolio/views/home/images/dp1.jpg" class="img-rounded center-block" alt="image" width="200" height="220" style="
    		margin: 0px auto;																	     
    		padding: 18px;													
    		border-radius: 30px;
		">
	</div>
	<ul class="list-group">	

		<li class="list-group-item" style="margin-top: 20px"><i class="fa fa-briefcase fa-lg" aria-hidden="true"></i> Fresher/Developer</li>
		<li class="list-group-item" style="margin-top: 20px"><i class="fa fa-home fa-lg" aria-hidden="true"></i> Chennai,600 044</li>
		<li class="list-group-item" style="margin-top: 20px"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> ashwin.95b@gmail.com</li>
		<li class="list-group-item" style="margin-top: 20px"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i>  +91 8220713983</li>
	</ul>
	

	<h3><i class="fa fa-building fa-lg" aria-hidden="true"></i> Skills</h3>
		<li style="margin-top: 20px">Photoshop</li>
	<div class="progress" style="margin-top: 10px">
  		<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow=		"70"
  				aria-valuemin="0" aria-valuemax="100" style="width:70%">
    			70%
  		</div>
	</div>

	<li style="margin-top: 20px">Java/J2EE</li>
	<div class="progress" style="margin-top: 10px">
  		<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow=	"60"
  			aria-valuemin="0" aria-valuemax="100" style="width:60%">
   		 	60%
  		</div>
	</div>

	<li style="margin-top: 20px">HTML/CSS</li>
	<div class="progress" style="margin-top: 10px">
  		<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow=		"40"
  			aria-valuemin="0" aria-valuemax="100" style="width:40%">
    		40%
  		</div>
	</div>

	<li style="margin-top: 20px">Bootstrap</li>
	<div class="progress" style="margin-top: 10px">
  			<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="30"
  			aria-valuemin="0" aria-valuemax="100" style="width:30%">
    		30%
  		</div>
	</div>

	<h3><i class="fa fa-globe fa-lg" aria-hidden="true"></i>&nbspLanguages</h3>
	<li style="margin-top: 20px">Tamil(native)</li>
	<div class="progress" style="margin-top: 10px">
  		<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow=		"80"
  			aria-valuemin="0" aria-valuemax="100" style="width:80%">
    		80%
  		</div>
	</div>

	<li style="margin-top: 20px">English</li>
	<div class="progress" style="margin-top: 10px">
  		<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow=		"60"
  			aria-valuemin="0" aria-valuemax="100" style="width:60%">
    		60%
  		</div>
	</div>

	<li style="margin-top: 20px">Malayalam</li>
	<div class="progress" style="margin-top: 10px">
  		<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow=		"50"
  			aria-valuemin="0" aria-valuemax="100" style="width:50%">
    		50%
  		</div>
	</div>
</div>
<div class="col-md-offset-1 col-md-8 col-sm-12" style="padding-top:15px;margin-top: 75px;box-shadow: 1px 1px 21px;background: rgba(174, 171, 175, 0.19);">
	<div style="padding-top:15px; padding-bottom:218px">
	<h2>Introduction</h2>
	<p style="text-align: justify;">
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsphai! I'm Ashwin I'm a <mark>Computer Science Fresher</mark>I have studied in <abbr title="K.S.K college of engineering and technology">K.S.K.C.E.T</abbr> I have compleated my course in 2016 with a CGPA of <mark>6.12</mark>I have done my Schooling at my hometown Kumbakonam,Coming to my family My Father is a Mechanic and my Mother is a House-wife and i have a younger Brother he is schooling in kumbakonam,My hobbies are listening to Music,playing Games,Watching Movies and Travelling. </p>  


	<h2 style="margin-top: 54px"><i class="fa fa-university" aria-hidden="true"></i>&nbsp&nbspAcademic Details</h2>

	<div class="panel-group" id="accordion">
  		<div class="panel panel-default">
    		<div class="panel-heading">
      			<h4 class="panel-title">
   			     <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1" role="button">
   				   <i class="fa fa-sort-desc" aria-hidden="true" ></i>&nbsp&nbspCollege</a>
      			</h4>
    		</div>
    				<div id="collapse1" class="panel-collapse collapse">
      					<div class="panel-body text-center"><strong>K.S.K College of Engineering and Technology</strong></div>
    				</div>
  		</div>
  				<div class="panel panel-default">
    				<div class="panel-heading">
     					 <h4 class="panel-title">
       						 <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2" role="button">
       							<i class="fa fa-sort-desc" aria-hidden="true"></i>&nbsp&nbsp Higher Secondary</a>
      					</h4>
    				</div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body text-center"><strong>Native Higher Secondary School</strong></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3" role="button">
       <i class="fa fa-sort-desc" aria-hidden="true"></i>&nbsp&nbsp SSLC</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body text-center"><strong>Shri Balaji Matriculation Higher Secondary School</strong></div>
    </div>
  </div>
</div>


<div>
  <h2><i class="fa fa-flask" aria-hidden="true"></i>&nbsp&nbspProject Details</h2>
  <h4 style="text-align: center;">Bluesaver:An Approach to Smartphone Energy Savings</h4>
  <p style="text-align: justify;">
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWiFi effectively has two extremes: low power consumption
			and high latency, or low latency and high power consumption.
			WiFi Power Save Mode saves energy by trading added
			latency for less power consumption. Minimal latency but maximum
			power, on the other hand, is consumed with WiFi Active
			Mode. While research has advanced in mitigating these extremes,
			certain types of network traffic such as constant bitrate streaming
			make the contrast unavoidable. We introduce Bluesaver, which
			provides low latency and low energy by maintaining a Bluetooth
			and WiFi connection simultaneously. Bluesaver is designed at the
			MAC layer and is able to opportunistically select the most efficient
			connection for packets while still assuring acceptable latency. We
			implement Bluesaver on an Android phone and Access Point
			and show that we can save more than 25% energy over existing
			solutions and attain the capability of quickly adapting to changes
			in network traffic.
  	
  </p>
  <p style="text-align: justify;">
  	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspENERGY efficiency on smartphones is a driving factor because
	of limited battery life. Due to the always-connected
	nature of smartphones, the efficiency of Internet access is
	particularly important. Wireless networking choices for smartphones
	typically consist of either WiFi or 3G/4G networking.
	When the mobile device is in a fixed location such as a home
	or business, WiFi is faster and more energy efficient than 3G
	networking. Additionally, mobile plans typically place data
	usage limits.
	Although WiFi networking is more energy efficient than 3G,
	considerable research has been done to make it more efficient.
	The WiFi standard includes Power Save Mode (PSM) which
	saves energy by sleeping during idle periods. Then periodically
	the radio wakes up to detect if packets are waiting at the
	Access Point (AP). While this is generally energy efficient, the
	buffering of packets at the AP adds additional delay. Previous
	work includes enhancing sleep periods during periods of inactivity. While this body of work has made significant
  </p>
</div>
</div>



</div>
