<div class="container">
  <div class="col-md-8 col-sm-12" style="margin-top: 70px; margin-bottom: 40px">
  <h1 style="box-shadow: 2px 1px 21px;background: rgba(174, 171, 175, 0.19); padding: 10px; margin-bottom: 30px;">Educational Qualifications</h1>
    <div>
        <h4>B.E Computer science and Engineering</h4>
            <li><i>Compleated course with CGPA of 6.12 in 2016</i></li>     
                <div class="progress" style="margin-top: 10px">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="63"
                      aria-valuemin="0" aria-valuemax="100" style="width:63%">
                      6.12%
                  </div>
                </div>
              
        <h4>HSC</h4>

            <li><i>Compleated course with 68% in 2012</i></li>     
                <div class="progress" style="margin-top: 10px">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="63"
                      aria-valuemin="0" aria-valuemax="100" style="width:68%">
                      68%
                    </div>
               </div>

        <h4>SSLC</h4>
            <li><i>Compleated course with 67% in 2010</i></li>     
              <div class="progress" style="margin-top: 10px">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="67"
                    aria-valuemin="0" aria-valuemax="100" style="width:67%">
                    67%
                </div>
              </div>    
  <h1 style="box-shadow: 2px 1px 21px;background: rgba(174, 171, 175, 0.19); padding: 10px; margin: 52px 0px 29px 0px;">Additional Qualifications</h1>
    <div class="panel panel-info">
      <div class="panel-heading">Java/J2EE</div>
          <div class="panel-body">Compleated <b>Core Java and Advanced Java</b> course in <b>Qspiders,Chromepet</b></div>
      </div>
    <div class="panel panel-info">
      <div class="panel-heading">Networks</div>
        <div class="panel-body">Attented workshop about <b>Networks</b>in <b>Poras Software   Solutions,Coimbatore</b></div>
      </div>
    </div>
  </div>
</div>
